@font-face {
  font-family: "TTLakes-Medium";
  src: url("fonts/TTLakes-Medium.woff") format("woff");
}

body {
  background-color: #f8f8f8;
  color: #1b1c21;
  font-family: "TTLakes-Medium", Georgia, serif;
  text-align: left;
  width: 1120px;
  height: 1925px;
}

.service {
  display: flex;
  width: 233;
  height: 40;
  margin-top: 42px;
  padding-left: 35px;
  font-size: 28px;
  font-weight: 700;
  border-left: solid 3px #41f6d7;
}

