@font-face {
  font-family: Barlow;
  src: url(/barlow);
  font-display: swap;
}

body {
  font-family: Barlow, Arial, sans-serif;
  background-color: #EFF6FF;
  margin: 50px;
  color: #2A4A5C;
}

main {
  display: flex;
  max-width: 1000px;
  min-width: 400px;
  min-height: 700px;
  margin: 0;
  background:#fff;
  box-shadow:0 20px 20px rgba(0,0,0,.08);
  position: relative;
}

h3 {
  text-align: left;
  color: #2A4A5C;
  font-weight: 500;
  margin-top: 40px;
}

.sub {
  font-size: small;
  color: #7B8A92;
  margin-top: -7px;
  margin-bottom: 40px;
}

.leftimg {
  width: 60%;
  background:url("images/bg.jpg") center/cover no-repeat;
  height: auto;
  min-height: 200px;
}

.right {
  width: 40%;
  background-color: #ffffff;
  padding: 40px 40px;
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  position: relative;
}

.logo {
  position: absolute;
  top: 30px;
  left: 20px;
}

.social-b {
  display: flex;
  gap: 22px;
  margin-bottom: 30px;
  cursor: pointer;
  z-index: 12;
  float: left;
  justify-content: center;
}

.facebook {
  display: flex;
  align-items: center;
  color: #cddaeb;
  background-color: #255A9B;
  font-size: xx-small;
  padding: 7px 30px;
  padding-left: 5px;
  gap: 10px;
  cursor: pointer;
  border: none;
}

.linkedin {
  display: flex;
  align-items: center;
  color: #cddaeb;
  background-color: #0076B6;
  font-size: xx-small;
  padding: 7px 30px;
  padding-left: 5px;
  gap: 10px;
  cursor: pointer;
  border: none;
}

.img {
  width: 12px;
}

.divider {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.line {
  flex-grow: 1;
  border: none;
  height: 1px;
  max-width: 80px;
  background-color: rgb(239, 234, 234);
  margin: 0px 5px;
}

.or {
  color: gray;
  font-weight: bold;
  font-size: 8px;
  white-space: nowrap;
}

section {
  display: flex;
  align-items: center;
  gap: 22px;
  justify-content: space-around;
}

input {
 width: 100%;
 max-width: 160px;
 height: 40px;
 border: solid 1px rgb(240, 232, 232);
 font-size: xx-small;
 padding-left: 8px;
 box-sizing: border-box;
}

.mail {
  border-left: solid #008ad4 1px;
}

input::placeholder {
  color:#a7adb6;
  position: relative;
  top: -10px;
}

.second {
  display: flex;
  justify-content: flex-start;
  padding-left: 5px;
}

.investor {
  margin-top: 30px;
  font-weight: 500;
  font-size: 15px;
  color: #416980;
  margin-bottom: 10px;
}

.investor-sub {
  font-size: 10px;
  color: #7B8A92;
  margin-bottom: 20px;
}

.radio-gr {
  display: flex;
  gap: 20px;
  font-size: 12px;
  margin-bottom: 16px;
}

.radio-gr label {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  color: #7B8A92;
}

.radio-gr label input[type="radio"] {
  transform: scale(0.8);
}

.icon {
  color: #c4c9d1;
  transform: scale(0.8);
}

.i {
  color: #c6cbcf;
  float: left;
  justify-content: center;
  font-size: 9px;
  width: 160px;
  line-height: 12px;
  margin-top: -15px;
  margin-left: 15px;
  margin-bottom: 30px;
  padding: 7px 8px;
  box-shadow:0 10px 10px rgba(0,0,0,.05);
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 10px;
  color: #becad0;
  text-align: left;
  white-space: nowrap;
}

.check-input {
  width: 16px;
  height: 16px;
  cursor: pointer;
}


form {
  display: flex;
  justify-content: flex-start;
  margin-top: 50px;
}

.Account-b {
  background-color: #3698FB;
  color: #fff;
  width: 160px;
  height: 30px;
  padding: 7px 15px;
  border-radius: 3px;
  border: none;
  transition: all 0.5s ease;
  cursor: pointer;
  text-decoration: none;
  font-size: x-small;
  font-weight: 600;
}

.Account-b:hover {
 transform: scale(1.1);
}